html, body {
    min-height: 100%;
}

body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #111;
    line-height: 22px;
}

label {
    display: table-cell;
    /* width: 70%; */
    margin: 1%;
    text-align: center;
}

.other_hobby {
    border: none;
}

.other_hobby:hover {
    border: none;
    border-bottom: 1px solid #095484;
}

h1 {
    margin: 15px 0;
    font-weight: 400;
    text-align: center;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 3px;
    margin: auto;
    width: 60%;
}

form {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc; 
    border-radius: 2%;
}

input, select, textarea , label{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input:hover, select:hover, textarea:hover, label:hover{
    outline: none;
    border: 1px solid #095484;
}

input {
    width: calc(100% - 10px);
    padding: 5px;
}

.hobby label input {
    padding: 5px;
}

select {
    width: 100%;
    padding: 7px 0;
    /* background: transparent; */
}

textarea {
    width: calc(100% - 6px);
}

.item {
    margin: 10px 0;
}

.btn-block {
    margin-top: 20px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    /* -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;  */
    border-radius: 5px; 
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0666a3;
}